#willows_dashboard header img {
  width: 40px;
  border-radius: 100%;
  height: 40px;
}

#willows_dashboard header {
  /* display: none; */
  border-bottom: solid 0.2px rgba(0, 0, 0, 0.132);
  padding: 5px;
}



#willows_dashboard header ul #redo_btn {
  width: 5%;
  border-radius: 0.2rem;
  background: transparent;
  padding: 1%;
 border: solid 0.2px rgba(0, 0, 0, 0.136);
}

#willows_dashboard header ul {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#willows_dashboard #profile {
  gap: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#willows_dashboard #nav-btns {
  justify-content: end;
  width: 15%;
  display: flex;
  height: 1%;
  gap: 2%;
}

#willows_dashboard #nav-btns button {
  width: 30%;
  border-radius: 0.2rem;
  background: transparent;
  border: solid 0.2px ;
  padding: 8%;
}

#willows_dashboard header  button {
 border: solid 0.2px rgba(0, 0, 0, 0.136);
}

#willows_dashboard #inner_dashboard {
  display: flex;
  height: 85vh;
}

